{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="header">Добро пожаловать в службу поддержки приложения "Займы онлайн - на карту"</h1>
        <div class="block">
            <div class="text">Если в процессе работы с <a href="">нашим приложением</a> вы столкнулись с трудностями или у вас возник вопрос или предложение, сообщите нам через форму ниже.</div>
            <img class="logo" src="{% static 'home/img/logo.png' %}" alt="logo">
        </div>
        {% block content %} Ваше обращение зарегистрировано! Скоро с вами свяжутся наши специалисты. {% endblock %}
    </div>
</body>
</html>